:root{
  --color-primary: #DB9600;
  --color-primary-dark: #ab8430;
  --color-secondary: #FEEE00;
  --color-third: #2b2b2b;
  --text-color: #DB9600;
  --bg-color: bisque;
  --max-width: 1000px;
}

body, html {
  box-sizing: border-box;
  margin: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  padding-bottom: 2em;
}

/* SOCIAL HEADER */
.social-header {
  display: flex;
  justify-content: space-around;
  padding: 1em 4em;
  background-color: var(--color-third);
  color: var(--color-primary);
  font-size: 1.2rem;
  letter-spacing: 2px ;
  text-transform: uppercase;
}

.social-header > a {
  text-decoration: none;
  color: var(--color-primary);
  padding: .2em .5em;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--color-primary);
}

.social-header > a > i {
  font-size: 24px;
  padding-right: .5em;
 ;
}

/*  MAIN  */

.main {
  font-size: 1.6rem;
  position: relative;
}

.csv-download {
  position: absolute;
  top: 20%;
  left: 10%;
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  background-color: var(--color-primary);
  border-radius: 10px;
  transition: all .2s ease-in;
}

.csv-download:hover {
  background-color: var(--color-primary-dark);

}

.main__header {
  display: flex;
  justify-content: space-around;
  padding: 0em 2em;
  gap: 2em;
  max-width: var(--max-width);
  margin: auto;
  align-items: center;
}

.main__header-name {
  align-self: flex-end;
}

.main__header-name h1.name span {
  display: block;
  text-transform: uppercase;
  margin: 0;
  line-height:.9em;
}

.main__header-name h1.name span.first-name {
  font-size: 7rem;
}
.main__header-name h1.name span.last-name {
  font-weight: 500;
  color: var(--text-color)
}
.main__header-name h1.name span.role {
  font-weight: 100;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.main__header-photo-container > img {
  display: block;
  width: auto;
  max-height: 350px;
}

.main__header-social-contact {
  padding: 1.5em 0.8em 2.5em;
  border: 1px dashed var(--text-color);
  position: relative;
  border-radius: 10px;
  transform: translateY(90px);

}

.main__header-social-contact::after {
  content: "JUNIOR";
  display: block;
  background-color: white;
  position: absolute;
  bottom: -0.8em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.2em 0.5em;
  border-radius: 10px;
  color: var(--text-color);
  font-size: 2.3rem;
  letter-spacing: 5px;
}

.main__header-social-contact-item {
  font-weight: 100;
  margin: 0;
  display: flex;
  align-items: center;
}

.main__header-social-contact-item > .las,
.main__header-social-contact-item > .lab {
  font-weight: 500;
  font-size: 24px;
  color: var(--text-color);
  margin-right: .3em;
}

/* PROFILE SECTION */
.profile {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  gap: 2em;
}

.profile__title > h2 {
  color: var(--text-color);
  font-size: 8rem;
  margin: 0;
}

.profile__description {
  width: 60%;
  font-size: 1.5rem;
  font-weight: 100;
}


/* CONTENT */

.content {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.content > div {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.education > .values,
.skills-tools > .skills {
  background: white;
  position: relative;
  left: 60px;
  padding: 1em 2em;
  border: 1px dashed var(--color-primary);
  border-radius: 10px;
  width: 200px;
  font-size: 1.4rem;
  align-self: flex-end;
}

.education > .values {
  padding-left: 4em;
}

.education > .values::before {
  content: "VALUES";
  color: var(--text-color);
  position: absolute;
  font-size: 2rem;
  left: 0;
  transform: rotate(-90deg);
  top: 50px;
  letter-spacing: 2px;
}

.skills-tools > .skills > h3 {
  margin: 0;
  text-transform: uppercase;
  color: var(cl);
  font-size: 2.5rem;
  
}

.skills-tools > .skills ul {
  list-style: none;
  padding: 0;
  font-weight: 100;
  font-size: 1.6rem;
}

.skills-tools > .skills ul > li {
  padding-bottom: .2em;
}

.skills {
  position: relative;
  right:  100px;
}

.skills i.las {
  position: absolute;
  width: 80px;
  height: 80px;
  font-weight: 100;
  background-color: var(--color-primary);
  color: white;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: -20px;
  border-radius: 50%;
}

.education-list {
  position: relative;
  left: 60px;
  font-size: 1.6rem;
  margin-top: 1.5em;
  padding: 2.5em;
  background-color: var(--color-secondary);
  border-radius: 15px;
  
  
}

.education-list > h3 {
  font-size: 2.5em;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin:  0 .5em;
}

.education-list > .education-item {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.education-list > .education-item > .date {

  color: var(--text-color);
  font-weight: 500;
  font-size: 1.5rem;
  
}

.education-list > .education-item > .item-description {
  font-size: 1.8rem;
  font-weight: 90;
}

.education-list > .education-item > .item-description > span {
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
  letter-spacing: 2px;
  
}

.item-divider {
  border: 1px solid rgba(255, 187, 40, 0.3);
}

.experience-title > h3 {
  font-size: 2.5em;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 1em;
  color: var(--text-color);
 
}

.experience-list{
  width: 100em;
  padding: 3em ;
  border: 1.5px dashed var(--text-color);
  position: relative;
  top: -5px;
  left: 200px;
  border-radius: 10px;
  font-size: 1.6rem;
  margin-top: 1em;
  border-radius: 15px;
}

.experience-list i.las{
  position: absolute;
  width: 80px;
  height: 80px;
  font-weight: 100;
  background-color: var(--text-color);
  color: white;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: -20px;
  border-radius: 50%;
}

.experience-company{
  font-size: 1em;
  letter-spacing: 2px;
  margin:  0.5em;
}

.experience-description{
  font-size: 1.2rem;
  font-weight: 400;
}

.experience-date{
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white; 
}
.experience{
  position: relative;
}

.experience-container2{
  width: 25em;
  position: relative;
  bottom: 10px;
  left: -20px;
  font-size: 1.6rem;
  margin-top: 1em;
  padding: 2em;
  background-color: var(--color-primary);
  border-radius: 15px;

}

.tools-list{
  width: 35em;
  position: relative;
  bottom: 300px;
  right: 500px;
  font-size: 1rem;
  margin-top: 1em;
  padding: 2em;
  background-color: var(--color-third);
  border-radius: 15px;
  color: white;
  font-weight: 100;
}

.tool-title > h3 {
  font-size: 2.5em;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 1em;
  color: var(--color-secondary);
}

.tool-categories > h4 {
  color: var(--text-color);
  position: absolute;
  font-size: 1.2rem;
  right: 0;
  transform: rotate(-90deg);
  top:  150px;
  letter-spacing: 2px;

}

.tools-list i.lab {
  background-color: var(white);
  
  

}
