:root{
  --color-primary: #ffa500;
  --color-primary-dark: #ab8430;
  --color-secondary: #FEEE00;
  --color-third: #2b2b2b;
  --text-color: #ffa500;
  --bg-color: bisque;
  --max-width: 1000px;
}

body, html {
  box-sizing: border-box;
  margin: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
 
}

/* SOCIAL HEADER */
.social-header, .footer {
  display: flex;
  justify-content: space-around;
  padding: 1em 4em;
  background-color: var(--color-third);
  color: var(--color-primary);
  font-size: 1.2rem;
  letter-spacing: 2px ;
  text-transform: uppercase;
}

.social-header > a {
  text-decoration: none;
  color: var(--color-primary);
  padding: .2em .5em;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--color-primary);
}

.social-header > a > i {
  font-size: 24px;
  padding-right: .5em;
 ;
}

/*  MAIN  */

.main {
  font-size: 1.6rem;
  position: relative;
}

.csv-download {
  position: absolute;
  top: 20%;
  left: 10%;
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  background-color: var(--color-primary);
  border-radius: 10px;
  transition: all .2s ease-in;
}

.csv-download:hover {
  background-color: var(--color-primary-dark);

}

.main__header {
  display: flex;
  justify-content: space-around;
  padding: 0em 2em;
  gap: 2em;
  max-width: var(--max-width);
  margin: auto;
  align-items: center;
}

.main__header-name {
  align-self: flex-end;
}

.main__header-name h1.name span {
  display: block;
  text-transform: uppercase;
  margin: 0;
  line-height:.9em;
}

.main__header-name h1.name span.first-name {
  font-size: 7rem;
}
.main__header-name h1.name span.last-name {
  font-weight: 500;
  color: var(--text-color)
}
.main__header-name h1.name span.role {
  font-weight: 100;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.main__header-photo-container > img {
  display: block;
  width: auto;
  max-height: 350px;
}

.main__header-social-contact {
  padding: 1.5em 0.8em 2.5em;
  border: 1px dashed var(--text-color);
  position: relative;
  border-radius: 10px;
  transform: translateY(90px);

}

.main__header-social-contact::after {
  content: "JUNIOR";
  display: block;
  background-color: white;
  position: absolute;
  bottom: -0.8em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.2em 0.5em;
  border-radius: 10px;
  color: var(--text-color);
  font-size: 2.3rem;
  letter-spacing: 5px;
}

.main__header-social-contact-item {
  font-weight: 100;
  margin: 0;
  display: flex;
  align-items: center;
}

.main__header-social-contact-item > .las,
.main__header-social-contact-item > .lab {
  font-weight: 500;
  font-size: 24px;
  color: var(--text-color);
  margin-right: .3em;
}

/* PROFILE SECTION */
.profile {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  gap: 2em;
}

.profile__title > h2 {
  color: var(--text-color);
  font-size: 8rem;
  margin: 0;
}

.profile__description {
  width: 60%;
  font-size: 1.5rem;
  font-weight: 100;
}


/* CONTENT */

.content {
  display: flex;
  justify-content: space-evenly;
  gap: 2.5em;
  max-width: var(--max-width);
  margin: auto;
}

.content > div {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.education > .values,
.skills-tools > .skills {
  background: white;
  position: relative;
  padding: 1em 2em;
  border: 1px dashed var(--color-primary);
  border-radius: 10px;
  font-size: 1.4rem;
}

.education > .values {
  padding-left: 4em;
}

.education > .values::before {
  content: "VALUES";
  color: var(--text-color);
  position: absolute;
  font-size: 2rem;
  left: 0;
  transform: rotate(-90deg);
  top: 50px;
  letter-spacing: 2px;
}

.skills-tools > .skills > h3 {
  margin: 0;
  text-transform: uppercase;
  color: var(--color-primary);
  font-size: 2.5rem;
  
}

.skills-tools > .skills ul {
  list-style: none;
  padding: 0;
  font-weight: 100;
  font-size: 1.6rem;
}

.skills-tools > .skills ul > li {
  padding-bottom: .2em;
}

.skills > ul > li {
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: .1em;
}

.skills i.las,
.experience-list > i.las {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: var(--color-primary);
  color: white;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: -20px;
  border-radius: 50%;
}

.experience-list > i.las {
  right: -40px;
  font-size: 5rem;
}

.education-list {
  position: relative;
  font-size: 1.6rem;
  margin-top: 1.5em;
  padding: 2.5em;
  background-color: var(--color-secondary);
  border-radius: 15px;
}

.education-list > h3 {
  font-size: 2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin:  0 .5em;
  margin-bottom: 3rem;
}

.education-list > .education-item {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 1em;
}

.education-list > .education-item > .date {

  color: var(--text-color);
  font-weight: 500;
  font-size: 1.5rem;
  
}

.education-list > .education-item > .item-description {
  font-size: 1.8rem;
  font-weight: 90;
  text-align: right;
}

.education-list > .education-item > .item-description > span {
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
  letter-spacing: 2px;
  
}

.item-divider {
  border: 1px solid rgba(255, 187, 40, 0.7);
}

.experience-title > h3 {
  font-size: 2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--text-color);
  margin: 1rem 0; 
}

.experience-list{
  padding: 1em ;
  border: 1.5px dashed var(--text-color);
  position: relative;
  border-radius: 10px;
  font-size: 1.6rem;
  border-radius: 15px;
}

.experience-company{
  font-size: 1em;
  letter-spacing: 2px;
}

.experience-company__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  color: white;
}

.experience-description{
  font-size: 1.2rem;
  font-weight: 400;
}

.experience-company__label-date{
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white; 
}
.experience{
  position: relative;
}

.experience-container2{
  position: relative;
  font-size: 1.6rem;
  margin-top: 1em;
  padding: 1em;
  background-color: var(--color-secondary);
  border-radius: 15px;

}
.experience-date{
  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-primary); 
}
  
.experience-comtainer3{
    position: relative;
    font-size: 1.6rem;
    margin-top: 1em;
    padding: 1em;
    border-radius: 15px;
}

.experience-comtainer4 {
  position: relative;
  font-size: 1.6rem;
  margin-top: 1em;
  padding: 1em;
  background-color: var(--color-primary);
  border-radius: 15px;
}
.experience-date-4{
  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;

}


.tools-list{
  position: relative;
  font-size: 1rem;
  margin-top: 1em;
  padding: 2em;
  background-color: var(--color-third);
  border-radius: 15px;
  color: white;
  font-weight: 100;
}

.tool-title {
  display: flex;
  align-items: center;
}

.tool-title > h3 {
  font-size: 2.51em;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: .5em 0 0;
  color: var(--color-secondary);
}

.tool-title-icon,
.tools-categories-icon {
  background: var(--color-primary);
  font-size: 2rem;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-title-icon {
  position: absolute;
  top: 25px;
  right: -40px;
}

.tools-categories-icon {
  width: 1.3em;
  height: 1.3em;
}

.tools-categories-icon {
  background: transparent;
  color: white;
  border: 1px solid white;
  display: flex;
}

.tools-category-item {
  display: flex;
  align-items: stretch;
  align-self: flex-end;
}

.tools-category-item > span {
  transform: rotateZ(-90deg);
  margin: 0.2em;
  letter-spacing: 0.1em;
  color: var(--color-primary);
  font-weight: 900;
}

.tool-categories-item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.graphic-tool {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin: 3em 0 2em;
}

.tool-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool-item > p {
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: .2em;
}

.tool-item > i.las, .tool-item > i.lab {
  color: var(--color-primary);
  font-size: 1.6em;
}

.tool-item-uxdesign{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tool-item-uxdesign > p {
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: .2em;
}

.tool-item-uxdesign >i.las,.tool-item-uxdesign > i.lab{
  color: var(--color-primary);
  font-size: 1.6em;
}
.uxdesign-tool{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin: 3em 0 2em;
}
.tool-item-programing{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tool-item-programing > p {
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: .2em;
}
.tool-item-programing>i.las,.tool-item-programing > i.lab {
  color: var(--color-primary);
  font-size: 1.6em;
}
.programing-tool{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin: 3em 0 2em;
}
.tool-item-other{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tool-item-other > p { 
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: .2em;
  text-align: center;
}
.tool-item-other > i.las, .tool-item-other > i.lab {
  color: var(--color-primary);
  font-size: 1.6em;
}
.other-tool{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin: 3em 0 2em;
}
.Personal-project{
  position: relative;
  font-size: 1.6rem;
  margin-top: 1em;
  padding: 1em;
  background-color: var(--color-primary);
  border-radius: 15px;
}
.footer{
  margin-top: 4em;
  margin-bottom: 0;
}